
body{
    font-family: lufga;

}
a {
    color: black;
    text-decoration:none;
  }
.navbar-logo{

    display: flex;
    padding: 2rem;
    justify-content: space-between;
   

}
.navbar{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 3rem;
    gap: 5rem;
    align-items: center;
    font-family: lufga semibold;
    letter-spacing:0.2rem;
    
   
}
.logo{
    display: flex;
    margin-left: 3rem;
}

.nav-button{
    
    background-color:white;
    border-color:  rgb(29, 174, 255);
    color: rgb(29, 174, 255);
    padding-inline: 2rem;
    padding-block: 0.5rem;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: bold;
    letter-spacing:0.2rem;

}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero-title{
    background-image: url("../image/hero.png");
    background-position: center;
    background-size: cover;
    padding: 5rem ;
    
    border-radius: 2.5rem;
    width: 80%;
    height: 40vh;
     
    font-family: lufga;

}
.hero-title > h1{

    font-size: 56px;
}
.hero-title > p{

    font-size: 26px;
    color:rgb(88, 89, 129);
}



.title-section2{

   text-align: center;
   font-family: lufga;
   font-size:large;
   margin: auto;
   width: 30rem;
   padding: 1.5rem;
}
.img-ville-1{
    background-image: url("../image/section2.3.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
  
    border-radius: 2rem;
    width: 18rem;
    height: 25rem;
    text-align: center;
    
    margin: 15px;
  
}
.ville-1{
    
    font-family: lufga;
    text-transform: uppercase;
    top: 0.1rem;
    left: 1.5rem;
    padding: 1rem;
    letter-spacing:0.2rem;
    text-align: center;
    font-size: x-large;
   
}
.img-ville-2{
    background-image: url("../image/section2.2.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    
    border-radius: 2rem;
    width: 18rem;
    height: 25rem;
    text-align: center;
    
    margin: 15px;
  
}
.ville-2{
    
    font-family: lufga;
    text-transform: uppercase;
    top: 0.1rem;
    left: 1.5rem;
    padding: 1rem;
    letter-spacing:0.2rem;
    text-align: center;
    font-size: x-large;

}
.img-ville-3{
    background-image: url("../image/section2.1.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    
    border-radius: 2rem;
    width: 18rem;
    height: 25rem;
    text-align: center;
   
    margin: 15px;
    
  
}
.ville-3{
   
    font-family: lufga;
    text-transform: uppercase;
    top: 0.1rem;
    left: 1.5rem;
    padding: 1rem;
    letter-spacing:0.2rem;
    text-align: center;
    font-size: x-large;

}
.img-ville-4{
    background-image: url("../image/section2.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    
    border-radius: 2rem;
    width: 18rem;
    height: 25rem;
    text-align: center;
    
    margin: 15px;
    

  
}
.ville-4{
    
    font-family: lufga;
    text-transform: uppercase;
    top: 0.1rem;
     left: 1.5rem; 
    padding: 1rem;
    letter-spacing:0.2rem;
    text-align: center;
    font-size: x-large;

}
.ville{
    display: flex;
    margin: auto;
    width: 80%;
    
   
    
    
}
.section4{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contact-us-section-title{
background-image: url("../image/footer.png");
    background-position: center;
    background-size: cover;
    padding: 5rem;
    border-radius: 2.5rem;
    width: 80%;
    height: 40vh;
    font-family: lufga;
}
.contact-us-section-title > h2{

    font-size: 56px;
}
.contact-us-section-title > p{

    font-size: 26px;
    color: rgb(88, 89, 129);
}
.contact-us-section-button{

    background-color:rgb(29, 174, 255);
    border:none;
    color: white;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    text-align: left;
    text-decoration: none;
    /* display: inline-block; */
    cursor: pointer;
    border-radius: 0.5rem;
    
    letter-spacing:0.2rem;
}

.fouter{

    display: flex;
    padding: 2rem;
    justify-content: space-between;
}

.fouter-content .list-1{

    list-style-type: none;
    
}
.fouter-content .list-2{

    list-style-type: none;
    
}
.fouter-content .list-3{

    list-style-type: none;
    
}
.fouter-content .list-4{

    list-style-type: none;
   
}
.fouter-content .list-items-1{

    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
    gap: 5rem;
    align-items: center;
     font-family: lufga semibold;
}